<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>第一人称模板的开火功能</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../../index.html"> <img class="expanding-hidden" src="../../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="../InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="../GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="../UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="../ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="../Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="../LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="../Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="../SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="../SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="../ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="../ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../../OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
						<li> <a href="../../OpenGL/CreateOpenGLWindow.html"> <span class="nav-buttontext">新建窗口</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;第一人称模板的开火功能</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">第一人称模板的开火功能</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">开火功能思路介绍</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;对于开火功能，我们需要一个按键事件，这个事件是绑定的鼠标左键，如下图：</p>
						<center><img src="img/FirstPersonFire/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;对于这个功能的思路就是，我们触发了我们的开火事件，然后在我们的枪口位置动态生成我们的发射物，而我们的发射物已经设置了初速度，然后以这个速度往前发射，进行物理模拟。根据以上思路我们来看FirstProjectCharacter.h中所定义的内容</p>
						<pre><code class="language-c++">
public:
    // 发射物的模板
    UPROPERTY(EditDefaultsOnly, Category=Projectile)
        TSubclassOf&lt;class AFirstProjectProjectile&gt; ProjectileClass;
    // 开火音效资源指针
    UPROPERTY(EditAnywhere, BlueprintReadWrite, Category=Gameplay)
        class USoundBase* FireSound;
    // 开火动画资源指针
    UPROPERTY(EditAnywhere, BlueprintReadWrite, Category = Gameplay)
        class UAnimMontage* FireAnimation;
		
protected:
    // 开火事件
    void OnFire();
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;于是在FirstProjectCharacter.cpp中：</p>
						<pre><code class="language-c++">
    // SetupPlayerInputComponent()绑定输入事件
    PlayerInputComponent->BindAction("Fire", IE_Pressed, this, &amp;AFirstProjectCharacter::OnFire);
	
    void AFirstProjectCharacter::OnFire(){
        // 发射物是否为空
        if (ProjectileClass != NULL){
            // 获得世界
            UWorld* const World = GetWorld();
            // 世界不为空
            if (World != NULL){
                // 获得控制器的旋转
                const FRotator SpawnRotation = GetControlRotation();
                // 获得发射位置
                const FVector SpawnLocation = ((FP_MuzzleLocation != nullptr) ? FP_MuzzleLocation->GetComponentLocation() : GetActorLocation()) + SpawnRotation.RotateVector(GunOffset);

                // 设置碰撞相关
                FActorSpawnParameters ActorSpawnParams;
                ActorSpawnParams.SpawnCollisionHandlingOverride = ESpawnActorCollisionHandlingMethod::AdjustIfPossibleButDontSpawnIfColliding;

                // 动态生成发射物，传入的参数分别为发射物的类型，初始位置，旋转，发射物碰撞参数
                World->SpawnActor&lt;AFirstProjectProjectile&gt;(ProjectileClass, SpawnLocation, SpawnRotation, ActorSpawnParams);
            }
        }
        // 播放音效
        if (FireSound != NULL){
            UGameplayStatics::PlaySoundAtLocation(this, FireSound, GetActorLocation());
        }

        // 播放动画
        if (FireAnimation != NULL){
            // 获取动画蓝图
            UAnimInstance* AnimInstance = Mesh1P->GetAnimInstance();
            if (AnimInstance != NULL){
                AnimInstance->Montage_Play(FireAnimation, 1.f);
            }
        }
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;其最主要的是SpawnActor方法动态生成物体，它的用法如下：</p>
						<pre><code class="language-c++">
    /*
    AFirstProjectProjectile：生成物的类型
    ProjectileClass：生成物的模板类
    SpawnLocation：生成的位置
    SpawnRotation：物体生成后的旋转属性
    ActorSpawnParams：碰撞相关参数
    */
    World->SpawnActor&lt;AFirstProjectProjectile&gt;(ProjectileClass, SpawnLocation, SpawnRotation, ActorSpawnParams);   
						</code></pre>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
