<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>第一人称模板项目初始化设置</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../../index.html"> <img class="expanding-hidden" src="../../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="../InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="../GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="../UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="../ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="../Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="../LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="../Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="../SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="../SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="../ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="../ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../../OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;项目初始化设置</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">项目初始化设置</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">UE4的第一人称模板做了什么</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;我们的UE4为我们提供第一人称模板来让我们进行学习和二次开发，现在我们来看一下第一人称模板都做了什么。我们在新建第一人称模板的时候可以看到UE4官方对第一人称模板的解释，如下图：</p>
						<center><img src="img/FirstPersonInit/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;不难看出，我们主要使用了Character来作为我们的主角，用了HUD显示我们的UI（准星）还运用了Actor的内容（生产发射物）</p>
						<p class="FontParagraph">&emsp;&emsp;新建打开我们的第一人称项目，在这里我命名为FirstProject，打开我们的Visual Studio工程，打开我们的FirstProjectCharacter，这个就是我们的主角，而移动，视野，跳跃相关内容我们不再重复介绍，与第三人称模板大同小异。我们来看在FirstProjectCharacter.h中为我们定义了什么组件。</p>
						<pre><code class="language-c++">
    // 摄像机组件
    UPROPERTY(VisibleAnywhere, BlueprintReadOnly, Category = Camera, meta = (AllowPrivateAccess = "true"))
        class UCameraComponent* FirstPersonCameraComponent;
    // 人物模型组件
    UPROPERTY(VisibleDefaultsOnly, Category=Mesh)
        class USkeletalMeshComponent* Mesh1P;
    // 枪模型组件
    UPROPERTY(VisibleDefaultsOnly, Category = Mesh)
        class USkeletalMeshComponent* FP_Gun;
    // 相对于空组件，放在枪管位置，用于生成子弹
    UPROPERTY(VisibleDefaultsOnly, Category = Mesh)
        class USceneComponent* FP_MuzzleLocation;
    
    // 移动跳跃视野转动相关内容省略......
	
    // 子弹生成位置的偏移量
    UPROPERTY(EditAnywhere, BlueprintReadWrite, Category=Gameplay)
        FVector GunOffset;
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;在FristProjectCharacter.cpp中的构造函数下</p>
						<pre><code class="language-c++">
    AFirstProjectCharacter::AFirstProjectCharacter(){
        // 设置胶囊体的大小
        GetCapsuleComponent()->InitCapsuleSize(55.f, 96.0f);

        // 设置视野移动相关参数（详见第三人称模板的视野移动相关内容）
        BaseTurnRate = 45.f;
        BaseLookUpRate = 45.f;

        // 实例化摄像机
        FirstPersonCameraComponent = CreateDefaultSubobject&lt;UCameraComponent&gt;(TEXT("FirstPersonCamera"));
        // 绑定在胶囊体组件下
        FirstPersonCameraComponent->SetupAttachment(GetCapsuleComponent());
        // 位置偏移
        FirstPersonCameraComponent->SetRelativeLocation(FVector(-39.56f, 1.75f, 64.f)); 
        // 允许摄像机与Controller旋转
        FirstPersonCameraComponent->bUsePawnControlRotation = true;

        // 设置模型
        Mesh1P = CreateDefaultSubobject&lt;USkeletalMeshComponent&gt;(TEXT("CharacterMesh1P"));
        // 设置模型显示
        Mesh1P->SetOnlyOwnerSee(true);
        // 绑定在摄像机下
        Mesh1P->SetupAttachment(FirstPersonCameraComponent);
        // 不产生阴影
        Mesh1P->bCastDynamicShadow = false;
        // 不投射阴影上去
        Mesh1P->CastShadow = false;
        // 位置和旋转属性的设置
        Mesh1P->SetRelativeRotation(FRotator(1.9f, -19.19f, 5.2f));
        Mesh1P->SetRelativeLocation(FVector(-0.5f, -4.4f, -155.7f));

        // 设置枪模型
        FP_Gun = CreateDefaultSubobject&lt;USkeletalMeshComponent&gt;(TEXT("FP_Gun"));
        FP_Gun->SetOnlyOwnerSee(true);		
        FP_Gun->bCastDynamicShadow = false;
        FP_Gun->CastShadow = false;
        // 绑定在根组件下
        FP_Gun->SetupAttachment(RootComponent);

        // 实例化枪管发射标识组件
        FP_MuzzleLocation = CreateDefaultSubobject&lt;USceneComponent&gt;(TEXT("MuzzleLocation"));
        // 放在枪模型组件下
        FP_MuzzleLocation->SetupAttachment(FP_Gun);
        // 将这个组件移动到枪管位置
        FP_MuzzleLocation->SetRelativeLocation(FVector(0.2f, 48.4f, -10.6f));

        // 设置发射物的偏移量
        GunOffset = FVector(100.0f, 0.0f, 10.0f);
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;我们看到，他的大致思路是有一个角色的模型，枪的模型，在枪的模型下实例化一个虚的组件，在这个组件的位置生成子弹。</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
