<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>UE4中的委托</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="FirstPerson/FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
                        <li> <a href="../link/OpenGL/GLFWandGLEW.html"> <span class="nav-buttontext">GLFW与GLEW</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;UE4中的委托</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">UE4中的委托</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">为什么使用委托</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;UE4中的委托使得在UE4中不同类之间相互调用其方法变得更加方便和通用，而在UE4中，已经为我们声明好了许多的宏定义来让我们来声明这些委托。而声明的委托方法有以下两种情况。</p>
						<br><hr>
						<h5 class="FontLiftTitle">绑定的函数没有返回值：</h5>
						<p class="FontParagraph">&emsp;&emsp;若函数不需要传入参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE(DelegateName)</font>，其中，DelegateName为委托的名字。</p>
						<p class="FontParagraph">&emsp;&emsp;若函数需要传入一个参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE_OneParam(DelegateName, Param1Type)</font>，其中，DelegateName为委托的名字，Param1Type为传入的参数。</p>
						<p class="FontParagraph">&emsp;&emsp;若函数需要传入两个参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE_TwoParams(DelegateName, Param1Type, Param2Type)</font>，其中，DelegateName为委托的名字，Param1Type，Param2Type为传入的参数。</p>
						<p class="FontParagraph">&emsp;&emsp;若函数需要传入多个参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE_Params(DelegateName, Param1Type, Param2Type, ... )</font>，其中，DelegateName为委托的名字，Param1Type，Param2Type，... 为传入的参数。</p>
						<br>
						<h5 class="FontLiftTitle">绑定的函数有返回值：</h5>
						<p class="FontParagraph">&emsp;&emsp;若函数不需要传入参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE_RetVal(RetValType, DelegateName)</font>，其中，RetValType为绑定的函数返回值的类型，DelegateName为委托的名字。</p>
						<p class="FontParagraph">&emsp;&emsp;若函数需要传入一个参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE_RetVal_OneParam(RetValType, DelegateName, Param1Type)</font>，其中，RetValType为绑定的函数返回值的类型，DelegateName为委托的名字，Param1Type为传入的参数。</p>
						<p class="FontParagraph">&emsp;&emsp;若函数需要传入两个参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE_RetVal_TwoParams(RetValType, DelegateName, Param1Type, Param2Type)</font>，其中，RetValType为绑定的函数返回值的类型，DelegateName为委托的名字，Param1Type，Param2Type为传入的参数。</p>
						<p class="FontParagraph">&emsp;&emsp;若函数需要传入多个参数，则使用：<font class="PreprocessorMacros">DECLARE_DELEGATE_RetVal_Params(RetValType, DelegateName, Param1Type, Param2Type, ... )</font>，其中，RetValType为绑定的函数返回值的类型，DelegateName为委托的名字，Param1Type，Param2Type，... 为传入的参数。</p>
						<br><hr>
						<h5 class="FontLiftTitle">委托的绑定方法如下：</h5>
						<p class="FontParagraph">&emsp;&emsp;<font class="Function">BindRaw()：</font>绑定原始的C++指针，需要传入绑定的类的指针和这个类下要绑定的方法的引用。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="Function">BindUObject()：</font>绑定UObject对象指针，即任何一个UE4类的指针，需要传入绑定的类的指针和这个类下要绑定的方法的引用。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="Function">BindUFunction()：</font>当绑定的方法是由<font class="PreprocessorMacros">UFUNCTION()</font>声明的时候，我们可以使用UE4的反射机制来绑定这个委托，这个时候需要传入任何一个UE4类的指针和方法的名称(FName)进行反射机制的调用。</p>
						<br><hr>
						<h5 class="FontLiftTitle">如何去调用一个委托：</h5>
						<p class="FontParagraph">&emsp;&emsp;<font class="Function">Execute()：</font>不进行检测是否绑定，直接调用，括号内传入的参数要与委托绑定的参数类型和数量一致。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="Function">ExecuteIfBound()：</font>进行检测是否绑定，绑定后才调用，括号内传入的参数要与委托绑定的参数类型和数量一致。</p>
						<br><hr>
						<h5 class="FontLiftTitle">如何去检测一个委托是否绑定：</h5>
						<p class="FontParagraph">&emsp;&emsp;直接调用<font class="Function">IsBound()</font>即可</p>
						<br><br><hr>
						<h5 class="FontLiftTitle">使用案例：</h5>
						<p class="FontParagraph">&emsp;&emsp;我们在MyClassB类中有一个函数BFunction(int i);但是我们想让这个BFunction让MyClassA调用，于是我们需要在MyClassA类的头文件中声明和定义这个委托：</p>
						<pre><code class="language-c++">
  // 声明这个委托					
  DECLARE_DELEGATE_OneParam(FMyClassADelegate, int)
  
  UCLASS()
  class COURSE_API AMyClassA : public AActor {
      pubilc:
          // 委托的定义
          FMyClassADelegate MyClassADeleate;
  }
					</code></pre>
						<p class="FontParagraph">&emsp;&emsp;于是我们可以在项目的任意位置在调用这个委托之前的位置绑定这个委托对应的函数</p>
						<pre><code class="language-c++">
  // 绑定这个委托			
  AMyClassA* ClassA;
  ClassA->MyClassADeleate.BindUObject(ClassA, &amp;MyClassB::BFunction);
					</code></pre>
						<p class="FontParagraph">&emsp;&emsp;这个时候我们在MyClassA.cpp中的任意位置就可以调用这个委托，并且可以不用了解MyClassB类中的任何信息。</p>
						<pre><code class="language-c++">
  // 调用这个委托，只需传入的参数一致即可
  int i = 0;
  MyClassADeleate.ExecuteIfBound(i);
					</code></pre>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
