<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>GamePlay框架</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
                        <li> <a href="../link/OpenGL/GLFWandGLEW.html"> <span class="nav-buttontext">GLFW与GLEW</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;GamePlay框架</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">GamePlay框架</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
          <div class="content-view">
			  <div class="row">
  				<div class="col-xs-1"></div>
  				<div class="col-xs-10">
					<br><br>
					<h3 class="FontTitle">什么是GameMode</h3><br>
					<p class="FontParagraph">&emsp;&emsp;GameMode指的是游戏模式，代表着游戏的类型，它指定了我们的玩家，我们控制的模型等等，相当于游戏的规则。而GameMode包括一下几类最基础的内容：</p>
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="col-xs-10">
							<p><font class="GoldFont">1. Default Pwan Class，即默认的Pawn或Character</font></p>
							<p><font class="GoldFont">2. HUD Class，即所显示的HUD类</font></p>
							<p><font class="GoldFont">3. Player Controller Class，即玩家的控制器</font></p>
							<p><font class="GoldFont">4. Game State Class，即游戏状态类</font></p>
							<p><font class="GoldFont">5. Player State Class，即玩家状态类</font></p>
							<p><font class="GoldFont">6. Spectator Class，即观众类</font></p>
							
						</div>
					</div>
					<p class="FontParagraph">&emsp;&emsp;我们可以在World Settings即世界设置里面指定我们这个游戏所运行的GameMode类，如下图</p>
					<center><img src="img/GamePlay/1.jpg" alt=""></center>
					<br><br>
					<p class="FontParagraph">&emsp;&emsp;而在GameMode类的C++代码中，我们要先引用我们所创建的以上类型的头文件方可使用代码指定</p>
		  			<p class="FontParagraph">&emsp;&emsp;例如：</p>
		  			<p class="FontParagraph">&emsp;&emsp;我们有一个Controller类，它的名字为MyPlayerController，其在C++代码中指定的方法如下（滑动代码可以查看全部）：</p>
		  			<pre><code class="language-c++">
  引入这个类的头文件：#include "MyPlayerController.h"
  在这个 GameMode 的构造函数内添加：PlayerControllerClass = AMyPlayerController::StaticClass();
  这样我们就用C++代码将我们的 Controller 指定在我们这个 GameMode 内了
  同理其他的类型也是这样指定进 GameMode 中的。
					</code></pre>
					<br><br>
					<h3 class="FontTitle">什么是Pawn</h3><br>
					<p class="FontParagraph">&emsp;&emsp;Pawn就是Actor的一个子类，这个类是可以由玩家或者AI控制，在我们在没有指定默认的Pawn时，UE4会自动帮我们生成一个Default Pawn，它包括了一个球体组件，即CollisionComponent和一个默认的模型组件，即StaticMeshComponent和一个控制移动的DefaultPawnMovementComponent组件和一个CameraComponent摄像机组件.</p>
					<br><br>
					<h3 class="FontTitle">什么是Charater</h3><br>
					<p class="FontParagraph">&emsp;&emsp;Charater是一个特殊的Pawn ，其实也没有多特殊，无非就是在Pawn的基础上加上了CharacterMovementComponent，CapsuleComponent 和SkeletalMesh这三个组件。（官方文档的解释，实质上两者没有多大区别，无非就是Pawn是Charater的父类罢了，在组件合适的情况下，Pawn也可以完完全全属于Charater）习惯上，一般Charater用于类人形角色，而Pawn用于非人形角色</p>
					<p class="FontParagraph">&emsp;&emsp;其中，SkeletalMesh为骨架网络物体，它与StaticMesh不同，StaticMesh为静态网络物体，是没有骨架的物体，而SkeletalMesh是绑定了骨骼骨架的物体。</p>
					<br><br>
					<h3 class="FontTitle">什么是Controller</h3><br>
					<p class="FontParagraph">&emsp;&emsp;Controller就是控制器，它是用来控制Pawn的，并且，Controller可以允许操控一个Pawn或Charater并控制它，一般有两种控制器，一个是PlayerController，即玩家控制器，另外一个是AIController，即AI控制器。我们可以这样子去理解，Controller就是大脑，用于发出指令，而Pawn或Charater就是身体，用于接收指令并作出相应的动作。</p>
					<br><br>
					<h3 class="FontTitle">什么是HUD</h3><br>
					<p class="FontParagraph">&emsp;&emsp;HUD其实很简单，就是一种平面的信息显示，属于UI的一种，例如生命值，血条能量条，弹药数量，十字准星等UI相关的信息显示，都是HUD的范畴。换句话说，所有的UI界面都是绑定在HUD这个类上，由这个类进行显示的。</p>
				  </div>
				  <div class="col-xs-1"></div>
			</div>
				  
          </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
