<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>输入组件</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
                        <li> <a href="../link/OpenGL/GLFWandGLEW.html"> <span class="nav-buttontext">GLFW与GLEW</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;输入组件</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">输入组件</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
          <div class="content-view">
			  <div class="row">
  				<div class="col-xs-1"></div>
  				<div class="col-xs-10">
					<br><br>
					<h3 class="FontTitle">输入组件</h3><br>
				  	<p class="FontParagraph">&emsp;&emsp;一个Actor是怎么接收键盘或者游戏手柄等硬件的输入的呢，那很简单，这个Actor里面会有一个组件用来接收来自对应硬件的输入。硬件输入通常包括键盘按键，鼠标点击或鼠标移动，以及手柄控制器按钮按下或手柄操纵杆移动等等。</p>
					<h3 class="FontTitle">PlayerInput组件</h3>
					<p class="FontParagraph">&emsp;&emsp;PlayerInput是PlayerController中的一个组件，他定义了两个事件，一个是FInputActionKeyMapping，它定义了一个ActionMapping即按键映射。另一个是FInputAxisKeyMapping，它定义了一个AxisMapping即轴映射。</p>
					<br>
					<h5 class="FontLiftTitle">&emsp;&emsp;什么是按键映射（ActionMapping）：</h5>
		  			<p class="FontParagraph">&emsp;&emsp;按键映射是指例如有一个跳跃动作，这个动作称之为事件，那么这个动作是通过一个按键来触发的，例如按下空格键，也就是说，通过硬件的的按钮的按下的瞬间或者松开的瞬间会触发的事件就称为按键映射</p>
		  			<h5 class="FontLiftTitle">&emsp;&emsp;什么是轴映射（AxisMapping）：</h5>
		  			<p class="FontParagraph">&emsp;&emsp;轴映射与按键映射不同之处在于，它定义了返回值，而且事件的触发不再是按下瞬间或者是松开瞬间，轴映射事件只要按着所定义的按键就会一直触发，其返回值一般用于表示方向，例如有个MoveForward轴映射事件，定义了W键返回1，S键返回-1，那么在使用的时候会利用这个返回只乘上前进方向的方向向量就会获得我们对应按键对应的移动方向，即W为前进正方向，S为前进反方向，即向后移动。</p>
					<br>
		  			<p class="FontParagraph">&emsp;&emsp;不管是按键映射还是轴映射，我们都不用去写他的代码，因为 UE4 已经将接口帮我们写好了，我们只需在菜单栏中点击 Edit(编辑)-&gt;Project Settings(项目设置)中的输入一栏中设置即可，如下图：</p>
					<center><img src="img/InputComponent/1.png" alt=""></center>
		  			<center><p class="YellowFont">点击加号即可进行相对应的设置</p></center>
					<br>
		  			<h3 class="FontTitle">输入组件InputComponent</h3>
		  			<p class="FontParagraph">&emsp;&emsp;这个组件是用来链接我们设置的按键映射和轴映射的，在里面写相对于的映射事件应该对应的具体代码。</p>
		  			<p class="FontParagraph">&emsp;&emsp;例如我们有一个Character，他的名字叫做MyCharacter，那么绑定按键映射的具体步骤如下（代码可以左滑查看全部）：</p>
					<pre><code class="language-c++"><p>在 AMyCharacter.cpp 中，</p>
    void AMyCharacter::SetupPlayerInputComponent(class UInputComponent* InputComponent) {        
        check(InputComponent));
        // 以上内容是自带的，下面这句才是你要写的
        InputComponent-&gt;BindAction("Jump", IE_Pressed, this, &amp;AMyCharacter::Jump);
    }
    void AMyCharacter::Jump() {
        // Jump 函数内的对应定义部分，就不具体写了
    }</code></pre>
					<p class="FontParagraph">&emsp;&emsp;InputComponent-&gt;BindAction("Jump", IE_Pressed, this, &amp;AMyCharacter::Jump);这句话的意思是，我给这个Character绑定了一个我之前设置好的Jump按键映射，IE_Pressed是按下按下的时候触发，若为IE_Pressed则是按键弹起也就是松开的时候触发，这个this一般不用管，指的是作用于哪个Actor，很明显，一般都是作用于自己本身，所以一般不用管，而后面的&amp;AMyCharacter::Jump指你这个按键映射触发的时候对应的函数，这个函数为AMyCharacter内的Jump函数。</p>
					<br><br>
		  			<p class="FontParagraph">&emsp;&emsp;如要绑定的是轴映射，则具体步骤如下（代码可以左滑查看全部）：</p>
					<pre><code class="language-c++"><p>在 AMyCharacter.cpp 中，</p>
    void AMyCharacter::SetupPlayerInputComponent(class UInputComponent* InputComponent) {        
        check(InputComponent);
        // 同理以上内容是自带的，下面这句才是你要写的
        InputComponent-&gt;BindAxis("MoveForward", this, &amp;AMyCharacter::MoveForward);
    }
    void AMyCharacter::MoveForward(float Value) {
        // MoveForward 函数内的定义部分，就不具体写了
    }</code></pre>
					<p class="FontParagraph">&emsp;&emsp;与按键映射不同，轴映射是有一个返回值的，所以他的对应函数是要传入一个值来判断我这个轴的方向的，所以我们的MoveForward函数是要传入一个float的数值，这个数值就是我们所按下的按键所返回的值，这些都是在我们的Project Settings中设置好的，例如，W是 1，S是 -1，则触发这个轴映射的时候，按下W的时候我们的MoveForward函数传入的Value的值是1，同理，按下S的时候为-1。与按键映射不同，绑定轴映射用的是InputComponent-&gt;BindAxis("MoveForward", this, &amp;AMyCharacter::MoveForward);与按键映射相比，少了那个写IE_Pressed或IE_Released的地方，其余位置对应的意思与按键映射的绑定是几乎一样的，就不重复介绍了。</p>
				  </div>
				  <div class="col-xs-1"></div>
			</div>
				  
          </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
