<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>简单的移动</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="FirstPerson/FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4材质</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Materials/MaterialsNodes.html"> <span class="nav-buttontext">常用节点</span> </a> </li>
                        
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
						<li> <a href="../OpenGL/CreateOpenGLWindow.html"> <span class="nav-buttontext">新建窗口</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;简单的移动</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">简单的移动</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">简单的移动</h3><br>
                        <h5 class="FontLiftTitle">&emsp;&emsp;在本例中我们将进行简单的移动设置：</h5><br>
						<p class="FontParagraph">&emsp;&emsp;我们首先先在项目设置中设置我们的输入移动轴的定义，如下图：</p>
						<center><img src="img/SimpleMove/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;然后我们需要创建一个Pawn类，命名为MyPawn，在MyPawn.h中，我们写入以下声明：</p>
						<pre><code class="language-c++">
    public:
        // 虚拟根组件
        UPROPERTY(VisibleAnywhere, BlueprintReadOnly, Category = Camera)
            USceneComponent* OurVisibleComponent;
        // 静态模型组件
        UPROPERTY(VisibleAnywhere, BlueprintReadOnly, Category = Camera)
            UStaticMeshComponent* StaticMesh;
        // 摄像机手臂
        UPROPERTY(VisibleAnywhere, BlueprintReadOnly, Category = Camera)
            class USpringArmComponent* CameraBoom;
        // 摄像机组件
        UPROPERTY(VisibleAnywhere, BlueprintReadOnly, Category = Camera)
            class UCameraComponent* FollowCamera;

    private:
        // 当前的速度向量
        UPROPERTY(EditAnywhere)
            FVector CurrentVelocity;
        // 当前的速度值
        UPROPERTY(EditAnywhere)
            float MaxSpeed;

    private:
        // 前后移动的函数，由InputComponent绑定
        void MoveForward(float value);
        // 左右移动的函数，由InputComponent绑定
        void MoveRight(float value);
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;在其MyPawn.cpp中，我们写入以下定义：</p>
						<pre><code class="language-c++">
    // 构造函数
    AMyPawn::AMyPawn() {
        // 允许Tick函数运行
        PrimaryActorTick.bCanEverTick = true;
        // 实例化根组件并绑定
        OurVisibleComponent = CreateDefaultSubobject&lt;USceneComponent&gt;(TEXT("RootComponent"));
        RootComponent = OurVisibleComponent;
        // 实例化模型组件并绑定在根组件下
        StaticMesh = CreateDefaultSubobject&lt;UStaticMeshComponent&gt;(TEXT("StiticMesh"));
        StaticMesh->SetupAttachment(RootComponent);
	
        // 实例化摄像机手臂并绑定在根组件下
        CameraBoom = CreateDefaultSubobject&lt;USpringArmComponent&gt;(TEXT("CameraBoom"));
        CameraBoom->SetupAttachment(RootComponent);
        // 设置摄像机手臂的参数设置
        CameraBoom->TargetArmLength = 150.f;
        CameraBoom->TargetOffset = FVector(0.f, 0.f, 60.f);
        CameraBoom->SetRelativeLocation(FVector(0.f, 0.f, 90.f));

        // 实例化摄像机并绑定在摄像机手臂上
        FollowCamera = CreateDefaultSubobject&lt;UCameraComponent&gt;(TEXT("FollowCamera"));
        FollowCamera->SetupAttachment(CameraBoom, USpringArmComponent::SocketName);
        // 摄像机的参数设置
        FollowCamera->AddLocalOffset(FVector(0.f, 0.f, 60.f));
        FollowCamera->SetRelativeRotation(FRotator(-45.0f, 0.0f, 0.0f));
	    
        // 初始化速度向量和速度的值
        CurrentVelocity = FVector(0);
        MaxSpeed = 100.f;
        // 设置为Player0，即为当前玩家控制的物体
        AutoPossessPlayer = EAutoReceiveInput::Player0;
    }
	
    // 前后移动函数
    void AMyPawn::MoveForward(float value) {
        // 通过轴映射传入的值判断方向的前后，并设置当前状态下速度的向量
        CurrentVelocity.X = value * MaxSpeed;
    }
	
    // 左右移动的函数
    void AMyPawn::MoveRight(float value) {
        // 通过轴映射传入的值判断方向的左右，并设置当前状态下速度的向量
        CurrentVelocity.Y = value * MaxSpeed;
    }
	
    // 绑定输入函数
    void AMyPawn::SetupPlayerInputComponent(UInputComponent* PlayerInputComponent) {
        Super::SetupPlayerInputComponent(PlayerInputComponent);
        // 绑定轴映射对应的函数
        PlayerInputComponent->BindAxis("MoveForward", this, &amp;AMyPawn::MoveForward);
        PlayerInputComponent->BindAxis("MoveRight", this, &amp;AMyPawn::MoveRight);
    }
	
    // 每帧运行的函数Tick，DeltaTime为时间
    void AMyPawn::Tick(float DeltaTime) {
        Super::Tick(DeltaTime);
        // 定义新的位置坐标，速度乘以时间即为位移，用当位置加上位移量，即为移动后的位置
        FVector NewLocation = GetActorLocation() + CurrentVelocity * DeltaTime;
        // 设置新的位置
        SetActorLocation(NewLocation);
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;编译后，我们继承于我们的MyPawn新建一个蓝图类，命名为BP_Pawn，打开并指定我们BP_Pawn蓝图，选中StaticMesh组件，并绑定StiticMesh组件的模型，如下图：</p>
						<center><img src="img/SimpleMove/2.png" alt=""><img src="img/SimpleMove/3.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;然后我们编译保存，运行，我们按下W，S，A，D，就会发现我们的Pawn进行了最简单的移动。但是我们发现，我们拖入物体的时候如果对物体进行了旋转，那么物体的移动将会发生错乱。</p><br>
						<p class="GoldFont">&emsp;&emsp;因为这种移动方式是以世界坐标为基准，当物体进行转向之后，物体自身的X轴于世界坐标的X轴不对应，换句话说，指向的方向不一样，而我们上述的移动以世界坐标为基准，那么这种移动方式将会出错，若需要使用物体自身坐标为基准进行移动，那么我们需要做以下修改：</p>
						<pre><code class="language-c++">
    在MyPawm.h中：
    public:
        // 箭头组件
        UPROPERTY(EditAnywhere)
            class UArrowComponent* ArrowComponent;
        /*
            这个组件特别重要，如果不声明不定义，我们的Pawn将无法知道
            GetActorForwardVector这个向量的方向，从而无法知道正方向，
            这个组件的作用就是定义这个物体的正方向
        */
						
    在MyPawm.cpp中：
    构造函数加入ArrowComponent组件的实例化
    ArrowComponent->CreateDefaultSubobject&lt;UArrowComponent&gt;(TEXT("ArrowComponent"));
    ArrowComponent->SetupAttachment(RootComponent);

    // 前后移动函数
    void AMyPawn::MoveForward(float value) {
        // 获取物体自身的向前方向的向量，乘于是否反向和速度，即可获得向前后移动的方向
        CurrentVelocity = GetActorForwardVector() * value * MaxSpeed;
    }
	
    // 左右移动的函数
    void AMyPawn::MoveRight(float value) {
        // 获取物体自身的向右方向的向量，乘于是否反向和速度，即可获得向左右移动的方向
        CurrentVelocity = GetActorRightVector() * value * MaxSpeed;
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;通过以上的方式，我们就完成了简单的移动，并且物体无论如何转向，移动的方向都不会出错。</p><br>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
