<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>简单的视野转动</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="FirstPerson/FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4蓝图库</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Blueprint/SimpleMoveAndTurn.html"> <span class="nav-buttontext">角色简单的控制</span> </a> </li>
                        <li> <a href="Blueprint/ZoomAndRun.html"> <span class="nav-buttontext">瞄准与奔跑功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4材质</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Materials/MaterialsNodes.html"> <span class="nav-buttontext">常用节点</span> </a> </li>
                        
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
						<li> <a href="../OpenGL/CreateOpenGLWindow.html"> <span class="nav-buttontext">新建窗口</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;简单的视野转动</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">简单的视野转动</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">简单的视野转动</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;我们接着上一节简单移动的例子，我们这次来制作视野的移动，上下旋转我们的思路就是通过鼠标的轴输入，改变我们的摄像机手臂，因为我们的摄像机是绑定在摄像机手臂上的，所以转动我们的摄像机手臂就相当于转动我们的摄像机，同时也就完成了我们的视野上下转动功能。而左右旋转呢，那就很简单了，我们直接转动我们的Pawn自身即可，因为我们的组件是绑定在Pawn上的，那么转动Pawn的时候我们的摄像机也就会跟着一起转动了。</p>
						<p class="FontParagraph">&emsp;&emsp;首先我们要设置我们的轴映射输入，如下图：</p>
						<center><img src="img/SimpleTurn/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;然后我们需要在MyPawn.h中加入我们的定义：</p>
						<pre><code class="language-c++">
    public:
        // 摄像机旋转值，因为只是屏幕，只需要两个轴即可，Z轴的值不变
        FVector2D CameraInput;
    private:
        // 两个对应轴映射事件的函数
        void Turn(float value);
        void LookUp(float value);
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;于是我们在MyPawn.cpp中写入：</p>
						<pre><code class="language-c++">
    构造函数中，我们要设置一个摄像机手臂的属性
    // 非常重要，如果不为true，那么我们的摄像机手臂将不会进行平滑过渡，也就不会进行转动
    CameraBoom->bEnableCameraLag = true;
    /*
        这里还可以设置CameraLagSpeed属性，这个速度将会设置我们平滑过渡的速度，
        以这个速度由这个位置过渡到那个位置，也就有了我们镜头转动的动画，一般我们默认不改
    */
	
	
    // 左右看
    void AMyPawn::Turn(float value) {
        CameraInput.X = value;
    }
    // 上下看
    void AMyPawn::LookUp(float value) {
        CameraInput.Y = value;
    }
	
    在Tick函数中加入：
    void AMyPawn::Tick(float DeltaTime) {
        ///......之前的东西
		
        // 设置一个新的旋转值，默认值为当前Pawn的旋转
        FRotator NewRotator = GetActorRotation();
        // 旋转的Yaw（Y轴旋转值）值加上我们鼠标X轴移动的值
        NewRotator.Yaw += CameraInput.X;
        // 设置Pwan新的旋转
        SetActorRotation(NewRotator);

        // 设置一个新的摄像机手臂的旋转值，默认为摄像机手臂的旋转值
        FRotator NewSpringArmRotator = CameraBoom->GetComponentRotation();
        // 旋转的Pitch（X轴旋转值）加上我们鼠标Y轴的移动值
        NewSpringArmRotator.Pitch += CameraInput.Y;
        // 设置范围为-85到-15，如果不设置，将会由于欧拉角的计算问题，导致修改Z轴旋转值，我们要避免修改那个值
		NewSpringArmRotator.Pitch = FMath::Clamp(NewSpringArmRotator.Pitch,-85.f,-15.f);
        // 设置摄像机手臂组件新的旋转
        CameraBoom->SetWorldRotation(NewSpringArmRotator);
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;编译，运行，移动我们的鼠标，我们发现我们的视野也跟着变动了。</p>
						<p class="FontParagraph">&emsp;&emsp;这样我们就完成了简单的视野的转动，基础功能已经完成，当然，实际项目中我们基本上不会这样子去做，因为无论是我们的移动还是视野的转动，UE4已经为我们写好了一套函数给我们直接调用，而且更加方便。</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
