<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>UE4中的宏定义</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
                        <li> <a href="../link/OpenGL/GLFWandGLEW.html"> <span class="nav-buttontext">GLFW与GLEW</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;UE4中的宏定义</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">UE4中的宏定义</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">UE4中的常用宏定义</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;在UE4中，给我们定义了很多各式各样的宏定义，其中，最常用的就是那些和反射有关的宏，我们知道，C++本身是不支持反射的，于是UE4自身就给我们定义了这些宏，为我们提供反射的功能，常见的宏如下：</p>
						<hr>
						<h5 class="FontLiftTitle"><font class="PreprocessorMacros">UCLASS()：</font></h5>
						<p class="FontParagraph">&emsp;&emsp;我们在新建一个UE4的C++类的时候，UE4会在这个类的上面添加上一个<font class="PreprocessorMacros">UCLASS()</font>宏定义，这个宏会让我们的这个类在UE4编辑器中可见，并且可以让这个类继承出蓝图类，由于其父类（Actor）的<font class="PreprocessorMacros">UCLASS()</font>中已经为我们填好参数，而这个参数是可以继承下来的，所以我们的这个新建的类的宏定义中无需填写任何的参数也可让这个类继承出对应的蓝图类。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">其常见的参数如下：</font></p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">Blueprintable：</font>表示我们这个类可以开放让蓝图进行继承。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">NotBlueprintable：</font>表示我们这个类不允许让蓝图进行继承，如果我们不进行指定，则默认值为这个。</p>
						<br><hr>
						<h5 class="FontLiftTitle"><font class="PreprocessorMacros">UPROPERTY()：</font></h5>
						<p class="FontParagraph">&emsp;&emsp;如果我们在这个类中新建了一个变量或者组件，而这个变量或者组件我们希望在蓝图或者编辑器场景中可以编辑调用，那么我们就需要在这个变量或者组件的上方声明<font class="PreprocessorMacros">UPROPERTY()</font>宏，为这个变量或组件添加反射机制，然后填入我们所需要的参数即可。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">其常见的参数如下：</font></p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">EditAnywhere：</font>表示我们这个属性在任何地方都可以被编辑，即使是他的实例，即拖入场景后的那个实例的细节面板上。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">EditDefaultsOnly：</font>表示我们这个属性在只在自身可以被编辑，他的实例不能编辑。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">EditInstanceOnly：</font>表示我们这个属性蓝图类本身不能编辑，这个属性只能将这个蓝图类拖入场景后在细节面板上找到并编辑。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">VisibleAnywhere：</font>表示我们这个属性在其蓝图类任何地方都可以看到，但是我们不能进行编辑。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">VisibleDefaultsOnly：</font>表示我们这个属性只在蓝图类自身的细节面板可以看到，同时也不能进行编辑。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">VisibleInstanceOnly：</font>表示我们这个属性只在蓝图类拖入场景中生成实例后，在实例的细节面板中可以看到，同时也不能进行编辑。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">BlueprintReadWrite：</font>表示我们这个属性在蓝图中可读可写。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">BlueprintReadOnly：</font>表示我们这个属性在蓝图中只能读，不能写。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">BlueprintWriteOnly：</font>表示我们这个属性在蓝图中只能写，不能读。</p>
						<br><hr>
						<h5 class="FontLiftTitle"><font class="PreprocessorMacros">UFUNCTION()：</font></h5>
						<p class="FontParagraph">&emsp;&emsp;同理，如果我们希望开放的是一个方法，而不是一个变量或者组件，那么我们需要在这个函数的声明上面添加这个<font class="PreprocessorMacros">UFUNCTION()</font>宏定义，然后填入对应的参数即可。</p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">其常见的参数如下：</font></p>
						<p class="FontParagraph">&emsp;&emsp;<font class="StringText">BlueprintCallable：</font>表示我们这个函数可以开放给蓝图进行调用。</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
