<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>单例模式</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="../UnrealEngine/InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="../UnrealEngine/GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="../UnrealEngine/UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="../UnrealEngine/ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="../UnrealEngine/Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="../UnrealEngine/LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="../UnrealEngine/Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="../UnrealEngine/SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="../UnrealEngine/SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../UnrealEngine/FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="../UnrealEngine/FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="../UnrealEngine/FirstPerson/FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4蓝图库</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Blueprint/SimpleMoveAndTurn.html"> <span class="nav-buttontext">角色简单的控制</span> </a> </li>
                        <li> <a href="../UnrealEngine/Blueprint/ZoomAndRun.html"> <span class="nav-buttontext">瞄准与奔跑功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4材质</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Materials/MaterialsNodes.html"> <span class="nav-buttontext">常用节点</span> </a> </li>
                        
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
						<li> <a href="../OpenGL/CreateOpenGLWindow.html"> <span class="nav-buttontext">新建窗口</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;单例模式</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">单例模式</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">什么是单例模式</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;单例模式最简单的设计模式之一。这种类型的设计模式属于创建型模式，它提供了一种创建对象的最佳方式。这种模式涉及到一个单一的类，该类负责创建自己的对象，同时确保只有单个对象被创建。这个类提供了一种访问其唯一的对象的方式，可以直接访问，不需要实例化该类的对象。</p>
						<p class="FontParagraph">&emsp;&emsp;这种模式涉及到一个单一的类，该类负责创建自己的对象，同时确保只有单个对象被创建。这个类提供了一种访问其唯一的对象的方式，可以直接访问，不需要实例化该类的对象。</p>
						<p class="FontParagraph">&emsp;&emsp;我们需要注意以下几点：</p>
						<p><font class="GoldFont">&emsp;&emsp;1. 单例类只能有一个实例。</font></p>
						<p><font class="GoldFont">&emsp;&emsp;2. 单例类必须自己创建自己的唯一实例。</font></p>
						<p><font class="GoldFont">&emsp;&emsp;3. 单例类必须给所有其他对象提供这一实例。</font></p>				
						<p class="FontParagraph">&emsp;&emsp;我们在以下环境中使用这种模式：</p>
						<p><font class="GoldFont">&emsp;&emsp;当一个类在整个项目中都需要频繁的访问（全局访问），在每次调用时都要创建一次对象（频繁创建），在每次调用完后都要销毁一次（频繁销毁），那么对性能的负担特别大，这个时候，我们的单例模式就需要用在这种环境下。</font></p>
						<p class="FontParagraph">&emsp;&emsp;单例模式的实例代码如下（代码可以左滑查看全部）：</p>
						<pre><code class="language-c++">
    新建一个类 Singleton，在 Singleton.h中：
    class Singleton{
    public:
      //构造函数
      Singleton();
      //初始化单例
      static void Initialize();
      // 供外部获取的指针
      static Singleton* Get();
    private:
      // 创建单例
      static Singleton&amp; Create();
    private:
      // 指向单例本身的静态指针
      static Singleton* SingletonPtr;
    }
    
    在 Singleton.cpp中
	
    #include "Singleton.h"
    
    // 单例的实现
    Singleton::SingletonPtr = NULL;
    void Initialize(){
        // 检查指针是否存在
        if (SingletonPtr == NULL) {
          // 不存在就创建
          SingletonPtr = Create();
        }
    }
    Singleton::Get() {
        // 初始化单例
        Initialize();
        // 返回这个指针
        return SingletonPtr;
    }
    Singleton::Create() {
        // 创建这个单例
        Singleton&amp; SingletonRef = new Singleton();
        // 返回这个单例
        return SingletonRef;
    }
					</code></pre>
					<p class="FontParagraph">&emsp;&emsp;我们在调用这个单例的时候只需调用这个单例的Get()函数即可。</p>
					<p class="FontParagraph">&emsp;&emsp;但是，我们的这个单例模式在多线程的情况下是不安全的，因为在多线程的情况下，存在多个线程在同一时间同时调用Get()函数，此时我们的单例指针SingletonPtr一直为空，也就会被多个线程同时创建，这样就违反了我们单例模式的设计原则。</p>
					<p class="FontParagraph">&emsp;&emsp;我们可以通过对Initialize函数加上线程锁的方式来解决这个问题，代码如下：</p>
					<pre><code class="language-c++">
    // 线程锁
    static mutex mut;

    void Initialize(){
        // 上锁
        mut.lock();
        // 检查指针是否存在
        if (SingletonPtr == NULL) {
          // 不存在就创建
          SingletonPtr = Create();
        }
        // 解锁
        mut.unlock();
    }
					</code></pre>
					<p class="FontParagraph">&emsp;&emsp;但是这样在每个线程访问的时候都要上一个锁，对资源的消耗也是不小，于是我们可以多加一层判断来解决这个问题，代码如下：</p>
					<pre><code class="language-c++">
    // 线程锁
    static mutex mut;

    void Initialize(){
        if (SingletonPtr == NULL){
            // 上锁
            mut.lock();
            // 检查指针是否存在
            if (SingletonPtr == NULL) {
              // 不存在就创建
              SingletonPtr = Create();
            }
            // 解锁
            mut.unlock();
        }
    }
					</code></pre>
					<p class="FontParagraph">&emsp;&emsp;这样加了一层判断以后，我们只需要在单例指针SingletonPtr为空的情况下才对锁进行判断，当单例指针有值的情况下则不进行上锁解锁的操作。</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
