<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>时间系统</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="../UnrealEngine/InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="../UnrealEngine/GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="../UnrealEngine/UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="../UnrealEngine/ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="../UnrealEngine/Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="../UnrealEngine/LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="../UnrealEngine/Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="../UnrealEngine/SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="../UnrealEngine/SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../UnrealEngine/FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="../UnrealEngine/FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="../UnrealEngine/FirstPerson/FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4材质</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Materials/MaterialsNodes.html"> <span class="nav-buttontext">常用节点</span> </a> </li>
                        
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
						<li> <a href="../OpenGL/CreateOpenGLWindow.html"> <span class="nav-buttontext">新建窗口</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;时间系统</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">时间系统</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">时间系统</h3><br>
						<h5 class="FontLiftTitle">蓝图如下：</h5>
                        <p class="FontParagraph">&emsp;&emsp;先创建两个函数，分别为Day和Night，如下图：</p>
						<center><img src="img/TimeOfDay/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;新建三个变量，如下图：</p>
						<div class="row">
							<div class="col-xs-4"><img src="img/TimeOfDay/2.png" alt=""></div>
							<div class="col-xs-4"><img src="img/TimeOfDay/3.png" alt=""></div>
							<div class="col-xs-4"><img src="img/TimeOfDay/4.png" alt=""></div>
						</div>
						<br>
						<p class="FontParagraph">&emsp;&emsp;Night函数如下：</p>
						<center><img src="img/TimeOfDay/5.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;Day函数如下：</p>
						<center><img src="img/TimeOfDay/6.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;改Actor事件图标如下：</p>
						<center><img src="img/TimeOfDay/7.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;此时，我们将该Actor拖入场景中并指定我们的变量后，运行即可观测到天空随时间发生了变化，变化速率为0.05</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
