<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>OpenGL环境搭建</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../index.html"> <img class="expanding-hidden" src="../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="../UnrealEngine/InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="../UnrealEngine/GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="../UnrealEngine/UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="../UnrealEngine/ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="../UnrealEngine/Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="../UnrealEngine/LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="../UnrealEngine/Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="../UnrealEngine/SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="../UnrealEngine/SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="../UnrealEngine/ThirdPerson/ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../UnrealEngine/FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="../UnrealEngine/FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="../UnrealEngine/FirstPerson/FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4蓝图库</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Blueprint/SimpleMoveAndTurn.html"> <span class="nav-buttontext">角色简单的控制</span> </a> </li>
                        <li> <a href="../UnrealEngine/Blueprint/ZoomAndRun.html"> <span class="nav-buttontext">瞄准与奔跑功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4材质</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../UnrealEngine/Materials/MaterialsNodes.html"> <span class="nav-buttontext">常用节点</span> </a> </li>
                        
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <p class="nav-title">其他</p>
            <ul class="nav">
				<!-- 指针 -->
				<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;指针</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../Pointer/WhatIsPointer.html"> <span class="nav-buttontext">指针简介</span> </a> </li>
						<li> <a href="../Pointer/PointerToPointer.html"> <span class="nav-buttontext">多级指针</span> </a> </li>
						<li> <a href="../Pointer/ViodPointer.html"> <span class="nav-buttontext">void指针</span> </a> </li>
						<li> <a href="../Pointer/PointerAndArrays.html"> <span class="nav-buttontext">指针和数组</span> </a> </li>
						<li> <a href="../Pointer/ArraysAsFun.html"> <span class="nav-buttontext">数组作为函数的参数</span> </a> </li>
						<li> <a href="../Pointer/PointerAndTwoDimensionalArrays.html"> <span class="nav-buttontext">指针和二维数组</span> </a> </li>
                    </ul>
                </li>
				<!-- /指针 -->
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
						<li> <a href="CreateOpenGLWindow.html"> <span class="nav-buttontext">新建窗口</span> </a> </li>
						<li> <a href="DrawTriangles.html"> <span class="nav-buttontext">绘制三角形</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;OpenGL环境搭建</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">OpenGL环境搭建</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">GLFW和GLAD</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;我们使用的OpenGL环境使用的是GLFW和GLAD来搭建，是用的软件为Visual Studio 2017版。</p><br>
						<h5 class="FontLiftTitle">&emsp;&emsp;什么是GLFW：</h5>
						<p class="FontParagraph">&emsp;&emsp;GLFW相对于我们的阅读器，用于处理一个叫做“上下文”（context）的概念，而处理了这个上下文，那么我们就可以绘制出我们需要的形状，那么如何去理解这个上下文呢？打个比方，你看一本小说，如果从中间看起，那么你是看不懂的，因为你没有联立上下文，但是如果你从第一页看起，那么这本小说所讲的内容你是完完全全可以看懂的，因为你看过前文，联立过上下文，就像我们以前语文考试做阅读理解一样，要联立上下文来作答。那么我们的图形学也是如此，如果我们单单告诉程序，我这里有一个点，那里有一个点，现在你给我在这两点中间画一条线，那么程序是看不懂的，他无法画出来，因为缺少了“上下文”，那么GLFW就是用于帮我们来处理这个上下文，让我们的程序能够看懂我们所标注的点，并把我们的图形处理出来，而且还具有跨平台的功能，它会根据我们的开发环境的不同，来调用不同的API，如果我们不使用GLFW，那么我们就要自己去调用相对于的系统的API来帮我们处理这些内容，那么，GLFW负责的就是处理上下文，然后在程序窗口内把我们的图形绘制出来。</p><br>
						<h5 class="FontLiftTitle">&emsp;&emsp;什么是GLAD：</h5>
						<p class="FontParagraph">&emsp;&emsp;我们绘制了图形之后，对不同的软硬件，我们所的出来的结果或许是不一样的，那么我们在渲染的时候就要针对不同的软硬件来写对应的兼容适配，这显然是很麻烦的，那么，GLAD就负责帮助我们去适配不同的软硬件环境，减轻我们的开发负担。</p><br>
						<h3 class="FontTitle">搭建GLFW</h3><br>
						<p class="FontParagraph">&emsp;&emsp;首先我们需要在 glfw.org（<a href="https://www.glfw.org" target="_black"><font class="preclass">网页链接</font></a>）这个网址下载我们的GLFW环境包，进入后我们点击右上方的Download，由于我们使用的是Windows系统，所以我们选择Windows binaries版本下载，下载好以后得到一个压缩包，我们将这个压缩包解压。</p>
						<p class="FontParagraph">&emsp;&emsp;打开我们的Visual Studio 2017，新建一个C++空项目，然后我们需要进入我们解压出来的GLFW的文件夹，将include文件夹和lib-vc2017文件夹复制到项目文件夹下（如果是其他VS版本请拷贝其他的lib-vc文件夹），然后我们右键项目设置，配置选为所有配置，平台选择所有平台，然后我们打开VC++目录选项，如下图：</p>
						<center><img src="img/EnvironmentBuilding/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;现在我们要链接GLFW的.h头文件，在包含目录里面添加$(SolutionDir)GLFW\include，在这里，我在项目文件夹下新建了一个GLFW文件夹，将GLFW的内容全部放入这个文件夹下，所以我的路径为GLFW\include，这里其实要添加我们GLFW的include文件夹，而$(SolutionDir)是Visual Studio的一个宏定义，代表我们这个项目文件夹路径。</p>
						<p class="FontParagraph">&emsp;&emsp;现在我们要链接lib文件，在库目录里面添加$(SolutionDir)GLFW\lib-vc2017。然后点击应用，确定。</p>
						<p class="FontParagraph">&emsp;&emsp;然后我们在链接器目录选项，在输入子菜单的附加依赖项下添加glfw3.lib和opengl32.lib，如下图：</p>
						<center><img src="img/EnvironmentBuilding/2.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;现在，我们可以引入头文件#include "GLFW/glfw3.h"</p><br>
						<p class="FontParagraph">&emsp;&emsp;注意，下载的版本要与Visual Studio项目的调试平台一致，如下图，若下载的为32-bit则为x86，64-bit则为x64。</p>
						<center><img src="img/EnvironmentBuilding/5.png" alt=""></center><br><br><br>
						<h3 class="FontTitle">搭建GLAD</h3><br>
						<p class="FontParagraph">&emsp;&emsp;首先我们需要在 glad.dav1d.de（<a href="https://glad.dav1d.de" target="_black"><font class="preclass">网页链接</font></a>）这个网址下载我们的GLAD，进入后如下图：</p>
						<div class="row">
						<div class="col-xs-2"></center></div>
						<div class="col-xs-8"><center><img src="img/EnvironmentBuilding/3.png" alt=""></center><br></div>
						<div class="col-xs-2"></center></div>
						</div>
						<p class="FontParagraph">&emsp;&emsp;我们Language选择C/C++，Specification为OpenGL，API选择我们使用的OpenGL版本,这里我选择OpenGL4.0，Profile选择Core，勾上Generate a loader选项，点击GENERATE，然后进入另外一个页面，如下图：</p>
						<center><img src="img/EnvironmentBuilding/4.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;我们点击glad.zip即可下载这个压缩包。下载好以后，在项目文件夹下新建GLAD文件夹，将压缩包解压进去，同样，我们在项目属性的VC++目录添加包含目录$(SolutionDir)GLAD\include，然后我们在项目的源文件右键，选择添加现有项，将GLAD\src下的glad.c添加到项目下，这个时候我们就可以引入头文件#include "glad/glad.h"<font class="GoldFont">（注意，这个头文件要放在最上面）</font></p>
						<p class="FontParagraph">&emsp;&emsp;这样我们就完成了OpenGL的环境搭建。</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
