<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>第三人称模板中的视野转动</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../../index.html"> <img class="expanding-hidden" src="../../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="../InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="../GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="../UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="../ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="../Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="../LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="../Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="../SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="../SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">HUD创建准星</span> </a> </li>
						<li> <a href="../FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">发射物设计</span> </a> </li>
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
                        <li> <a href="../link/OpenGL/GLFWandGLEW.html"> <span class="nav-buttontext">GLFW与GLEW</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;第三人称模板中的视野转动功能</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">第三人称模板中的视野转动功能</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">视野转动功能介绍</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;我们之前的初始化已经设置了摄像机手臂和摄像机是跟随我们的Controller旋转的，那么我们视野转动的思路就是旋转我们的Controller，从而间接控制我们的摄像机手臂和摄像机进行旋转，完成视野转动的功能。最主要的就是如何合适的旋转我们的Controller，而第三人称模板给我们展示了两种旋转的方法，同样，我们要声明以下轴映射：</p>
						<center><img src="img/ThirdPersonTurn/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;我们先设置ThirdProjectCharacter.cpp中的构造函数：</p>
						<pre><code class="language-c++">
    // 让模型不跟随Controller旋转
    bUseControllerRotationPitch = false;
    bUseControllerRotationYaw = false;
    bUseControllerRotationRoll = false;
    // // Character自身会以鼠标的位置为正方向旋转，并且可以平滑的移动过去
    GetCharacterMovement()->bOrientRotationToMovement = true;
    // 这个是平滑过渡过去的速率
    GetCharacterMovement()->RotationRate = FRotator(0.0f, 540.0f, 0.0f);
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;第一种方法的转动，我们直接绑定ThirdProjectCharacter.cpp中的输入函数：</p>
						<pre><code class="language-c++">
    PlayerInputComponent->BindAxis("Turn", this, &amp;APawn::AddControllerYawInput);
    PlayerInputComponent->BindAxis("LookUp", this, &amp;APawn::AddControllerPitchInput);
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;没错，简单粗暴的方法，我们直接绑定父类Pawn的AddControllerYawInput和AddControllerPitchInput方法即可，这里我们只看其中一个的源码，我们直接看AddControllerYawInput的源代码，在Pawn下</p>
						<pre><code class="language-c++">
    void APawn::AddControllerYawInput(float Val){
        if (Val != 0.f &amp;&amp; Controller &amp;&amp; Controller->IsLocalPlayerController()){
            // 获得控制器
            APlayerController* const PC = CastChecked&lt;APlayerController&gt;(Controller);
            // 更改控制器的Yaw值
            PC->AddYawInput(Val);
        }
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;然后我们再看AddYawInput的源码，在PlayerController下</p>
						<pre><code class="language-c++">
    void APlayerController::AddYawInput(float Val){
        // 如果输入没有没锁住，增加当前的Yaw值，增加量为传入的val
        RotationInput.Yaw += !IsLookInputIgnored() ? Val * InputYawScale : 0.f;
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;这种方法就是这样一步一步的修改Controller的旋转值，通过轴映射返回的参数。</p><br><hr>
						<p class="FontParagraph">&emsp;&emsp;现在我们看第二种方法，在ThirdProjectCharacter.h中，我们声明以下内容</p>
						<pre><code class="language-c++">
    public:
        // 两个方向上的旋转速率
        UPROPERTY(VisibleAnywhere, BlueprintReadOnly, Category=Camera)
            float BaseTurnRate;
        UPROPERTY(VisibleAnywhere, BlueprintReadOnly, Category=Camera)
            float BaseLookUpRate;
			
    protected:
        // 左右看的函数 
        void TurnAtRate(float Rate);
        // 上下看的函数
        void LookUpAtRate(float Rate);
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;在ThirdProjectCharacter.cpp中，我们定义以下内容</p>
						<pre><code class="language-c++">
    在构造函数下初始化两个旋转速率参数
    BaseTurnRate = 45.f;
    BaseLookUpRate = 45.f;
	
    void AThirdProjectCharacter::TurnAtRate(float Rate){
        // 进行旋转，这种方式我们传入了旋转的速率，乘于我们传入的值然后再乘于我们的时间
        AddControllerYawInput(Rate * BaseTurnRate * GetWorld()->GetDeltaSeconds());
    }
    void AThirdProjectCharacter::LookUpAtRate(float Rate){
        // 同上
        AddControllerPitchInput(Rate * BaseLookUpRate * GetWorld()->GetDeltaSeconds());
    }
	
	然后我们再进行绑定
    PlayerInputComponent->BindAxis("TurnRate", this, &amp;AThirdProjectCharacter::TurnAtRate);
    PlayerInputComponent->BindAxis("LookUpRate", this, &amp;AThirdProjectCharacter::LookUpAtRate);
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;这种方式没有上面第一种的那么粗暴，我们传入了旋转的速率和世界的时间，对我们鼠标的控制是比较友好的，不会速率可控，而对于手柄而言，我们简单粗暴的传入摇杆返回的值即可，太快的话不易控制，而AddControllerYawInput方法我们上面已经解析过，这里不再解析。</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
