<!doctype html>
<html><!-- InstanceBegin template="/Templates/Tamplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Milestone">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Milestone">
<meta name="theme-color" content="#4C7FF0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>第三人称模板中的跳跃</title>
<!-- InstanceEndEditable -->
<!-- build:css({.tmp,app}) styles/app.min.css -->
<link rel="stylesheet" href="../../../vendor/bootstrap/dist/css/bootstrap.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.css" id="load_styles_before" runat="server"/>
<link rel="stylesheet" href="../../../styles/app.skins.css" runat="server"/>
<link rel="stylesheet" href="../../../styles/Myhighlight.css" runat="server"/>
<link rel="stylesheet" href="../../../vendor/highlight/styles/monokai-sublime.css" runat="server"/>
<!-- endbuild -->
</head>
  <body>

    <div class="app">
      <!--sidebar panel-->
      <div class="sidebar-panel">
        <div class="brand"> 
            <!-- /toggle offscreen menu --> 
            <!-- logo --> 
            <a class="brand-logo" href="../../../index.html"> <img class="expanding-hidden" src="../../../images/logo-dark.png" alt=""/> </a> 
            <!-- /logo --> 
        </div>
        <!-- main navigation -->
        <nav class="menu">
            <hr>
            <ul class="nav">
                <!-- 主页 -->
                <p class="nav-title">主页</p>
                <li> <a href="../../../index.html"> <span class="nav-menutext">&emsp;&emsp;首页</span> </a> </li>
                <hr>
                <p class="nav-title">UnrealEngine 4</p>
                <!-- /主页 --> 
                <!-- UnrealEngine4 -->
                <li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4基础</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../Actor.html"> <span class="nav-buttontext">什么是Actor</span> </a> </li>
                        <li> <a href="../InputComponent.html"> <span class="nav-buttontext">输入组件</span> </a> </li>
                        <li> <a href="../GamePlay.html"> <span class="nav-buttontext">UE4中的GamePlay框架</span> </a> </li>
                        <li> <a href="../UnrealMacro.html"> <span class="nav-buttontext">UE4中的宏定义</span> </a> </li>
						<li> <a href="../ForceAndTorque.html"> <span class="nav-buttontext">力和扭矩</span> </a> </li>
						<li> <a href="../Collision.html"> <span class="nav-buttontext">UE4中的碰撞</span> </a> </li>
						<li> <a href="../LineTrace.html"> <span class="nav-buttontext">射线绘制和射线检测</span> </a> </li>
						<li> <a href="../Delegates.html"> <span class="nav-buttontext">UE4中的委托</span> </a> </li>
						<li> <a href="../SimpleMove.html"> <span class="nav-buttontext">简单的移动</span> </a> </li>
						<li> <a href="../SimpleTurn.html"> <span class="nav-buttontext">简单的视野转动</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第三人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="ThirdPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="ThirdPersonMove.html"> <span class="nav-buttontext">模板中的移动功能</span> </a> </li>
						<li> <a href="ThirdPersonTurn.html"> <span class="nav-buttontext">模板中的视野转动功能</span> </a> </li>
						<li> <a href="ThirdPersonJump.html"> <span class="nav-buttontext">模板中的跳跃功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;解析第一人称模板</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../FirstPerson/FirstPersonInit.html"> <span class="nav-buttontext">项目初始化设置</span> </a> </li>
                        <li> <a href="../FirstPerson/FirstPersonFrontSight.html"> <span class="nav-buttontext">模板中的HUD创建准星</span> </a> </li>
						<li> <a href="../FirstPerson/FirstPersonProjectile.html"> <span class="nav-buttontext">模板中的发射物设计</span> </a> </li>
						<li> <a href="../FirstPerson/FirstPersonFire.html"> <span class="nav-buttontext">模板中的开火功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4蓝图库</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../Blueprint/SimpleMoveAndTurn.html"> <span class="nav-buttontext">角色简单的控制</span> </a> </li>
                        li> <a href="../Blueprint/ZoomAndRun.html"> <span class="nav-buttontext">瞄准与奔跑功能</span> </a> </li>
                    </ul>
                </li>
				<li><a href="javascript:;"> <span class="menu-caret"> <em class="material-icons">arrow_drop_down</em> </span> <span class="nav-menutext">&emsp;&emsp;UE4材质</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../Materials/MaterialsNodes.html"> <span class="nav-buttontext">常用节点</span> </a> </li>
                        
                    </ul>
                </li>
                <!-- /UnrealEngine4 -->
            </ul>
            <hr>
            <p class="nav-title">其他</p>
            <ul class="nav">
                <!-- OpenGL -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;OpenGL笔记</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../../OpenGL/EnvironmentBuilding.html"> <span class="nav-buttontext">环境搭建</span> </a> </li>
						<li> <a href="../../OpenGL/CreateOpenGLWindow.html"> <span class="nav-buttontext">新建窗口</span> </a> </li>
                    </ul>
                </li>
                <!-- /OpenGL --> 
                <!-- 设计模式 -->
                <li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;设计模式</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../../DesignPatterns/Singleton.html"> <span class="nav-buttontext">单例模式</span> </a> </li>
                        <!--<li> <a href="../link/DesignPatterns/Factory.html"> <span class="nav-buttontext">工厂模式</span> </a> </li>-->
                    </ul>
                </li>
                <!-- /设计模式 -->
				<!-- C++多线程 -->
                <!--<li> <a href="javascript:;"> <span class="menu-caret"> <i class="material-icons">arrow_drop_down</i> </span> <span class="nav-menutext">&emsp;&emsp;C++多线程编程</span> </a>
                    <ul class="sub-menu">
                        <li> <a href="../link/CPPMultithreading/ProcessAndThread.html"> <span class="nav-buttontext">进程和线程</span> </a> </li>
                    </ul>
                </li>-->
                <!-- /C++多线程 -->
                <li>
                    <hr/>
                </li>
                <!-- static -->
                <p class="nav-title">关于我</p>
                <li> <a href="#"> <span class="nav-menutext">&emsp;&emsp;个人简历</span> </a> </li>
				<li> <a href="../../AboutMe/AboutBlog.html"> <span class="nav-menutext">&emsp;&emsp;关于博客</span> </a> </li>
                <!-- /static -->
            </ul>
        </nav>
        <!-- /main navigation --> 
    </div>
      <!-- /sidebar panel -->
      <!-- content panel -->
      <div class="main-panel">
        <!-- top header -->
        <nav class="header navbar">
          <div class="header-inner">
            <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
              <!-- toggle offscreen menu -->
              <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons"><img src="../../../images/button-1.png"></i>
              </a>
              <!-- /toggle offscreen menu -->
              <!-- logo --><!-- InstanceBeginEditable name="title1" -->
              <spen class="spenMenu">&ensp;第三人称模板中的跳跃功能</spen>
              <!-- InstanceEndEditable --><!-- /logo -->
            </div>
            <!-- InstanceBeginEditable name="title2" --><span class="navbar-item navbar-spacer-right navbar-heading hidden-md-down">第三人称模板中的跳跃功能</span><!-- InstanceEndEditable --></div>
        </nav>
        <!-- /top header -->

        <!-- main area -->
        <!-- InstanceBeginEditable name="main" -->
        <div class="main-content">
            <div class="content-view">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"> <br>
                        <br>
                        <h3 class="FontTitle">跳跃功能介绍</h3><br>
                        <p class="FontParagraph">&emsp;&emsp;总所周知，跳跃功能的逻辑是很容易的，但是也是很难写的，因为跳跃会引发很多的bug，例如连跳，跳比走还快，卡进了模型里面等等等等，我们常见的跳跃逻辑就是单纯的在按下跳跃键的时候，给予物体一个向上方向上的力，这样物体就跳了起来，但是，在跳的过程中，如果同时按下了方向键，那么物体是会移动的，而且移动的速度是和我们在平面上移动的速度相同，而且跳跃过程中多次按下跳跃键会发生连跳，最简单的解决方案就是加一个bool变量，在跳跃过程中锁定输入，但是这样我们就无法往前跳，那么跳跃的意义就不存在了，同样，在上述思路的基础上，我们可以在跳跃的时候修改移动的速度，使其没有在平面上移动的那么快，这也是一种解决方案，不过，这些逻辑都不用我们去写，UE4已经为我们定义好了一套跳跃的逻辑，我们可以直接使用，也可以在其基础上进行二次开发。不过，UE4的跳跃逻辑比我上述的远要复杂很多，涉及的源码也很多，有些逻辑本人水平有限，暂时还没看懂。</p>
						<p class="FontParagraph">&emsp;&emsp;首先，我们依然要设置输入，但是这次我们使用的是按键映射：</p>
						<center><img src="img/ThirdPersonJump/1.png" alt=""></center><br>
						<p class="FontParagraph">&emsp;&emsp;我们在ThirdProjectCharacter.h中声明我们的跳跃函数：</p>
						<pre><code class="language-c++">
    protected:
        // 按下跳跃键瞬间开始跳跃
        void TouchStarted(ETouchIndex::Type FingerIndex, FVector Location);
        // 弹起跳跃键瞬间停止跳跃
        void TouchStopped(ETouchIndex::Type FingerIndex, FVector Location);
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;我们在ThirdProjectCharacter.cpp中写入以下定义：</p>
						<pre><code class="language-c++">
    构造函数中先设置和跳跃相关的属性
    // 跳跃的高度
    GetCharacterMovement()->JumpZVelocity = 600.f;
    // 跳跃时可以进行横向移动控制，0为不能控制，1为以MaxWalkSpeed的最大速度进行完全控制
    GetCharacterMovement()->AirControl = 0.2f;
					
    绑定输入函数
    PlayerInputComponent->BindTouch(IE_Pressed, this, &amp;AThirdProjectCharacter::TouchStarted);
    PlayerInputComponent->BindTouch(IE_Released, this, &amp;AThirdProjectCharacter::TouchStopped);

    // 跳跃开始
    void AThirdProjectCharacter::TouchStarted(ETouchIndex::Type FingerIndex, FVector Location){
        // 没错，直接调用Jump函数，这个函数是为我们定义好的
        Jump();
    }
    // 跳跃停止
    void AThirdProjectCharacter::TouchStopped(ETouchIndex::Type FingerIndex, FVector Location){
        // 同理，这个函数也是定义好的
        StopJumping();
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;现在我们看看Jump函数的定义，在Character.cpp下</p>
						<pre><code class="language-c++">
    void ACharacter::Jump(){
        // 设置跳跃属性为true
        bPressedJump = true;
        // 这个是跳跃键可以持续的时间，就是这个跳跃在这个时间内会持续触发
        JumpKeyHoldTime = 0.0f;
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;我们在Character.cpp查找bPressedJump这个属性，我们发现一断代码，这段代码很复杂，但是不难看出来，他调用了一个DoJump函数，而这个函数就是执行了我们的跳跃，于是我们查看DoJump函数源码，在CharacterMovementComponent下</p>
						<pre><code class="language-c++">
    bool UCharacterMovementComponent::DoJump(bool bReplayingMoves){
        // 在这里调用了CanJump，用于判断是否可以跳跃
        if ( CharacterOwner &amp;&amp; CharacterOwner->CanJump() ){
            // 如果我们无法上下移动，就不跳
            if (!bConstrainToPlane || FMath::Abs(PlaneConstraintNormal.Z) != 1.f){
                // 添加一个向上方向上的速度，JumpZVelocity为跳跃时的初始速度
                Velocity.Z = FMath::Max(Velocity.Z, JumpZVelocity);
                // 设置移动（数值方向上的位移，即为跳跃）
                SetMovementMode(MOVE_Falling);
                return true;
            }
        }
        return false;
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;对于停止跳跃的函数，在Character.cpp内的源码如下：</p>
						<pre><code class="language-c++">
    void ACharacter::StopJumping(){
        bPressedJump = false;
        ResetJumpState();
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;我们继续追踪ResetJumpState函数：</p>
						<pre><code class="language-c++">
    void ACharacter::ResetJumpState(){
        bPressedJump = false;
        bWasJumping = false;
        JumpKeyHoldTime = 0.0f;
        JumpForceTimeRemaining = 0.0f;

        if (CharacterMovement &amp;&amp; !CharacterMovement->IsFalling()){
            JumpCurrentCount = 0;
        }
    }
						</code></pre>
						<p class="FontParagraph">&emsp;&emsp;我们不难看出，它的作用就是将所有与跳跃相关的参数都进行了初始化。</p>
						<p class="FontParagraph">&emsp;&emsp;对于与跳跃相关的另外一个东西，是否在空中的判断，在不使用UE4自带的IsAir属性的情况下，本人能想到的制作逻辑如下：设置碰撞这个碰撞只有地面的物体和角色，如果没有接触，就将IsAir设为flase，如果有接触，也就触发了事件，将IsAir设为true。至于UE4中的IsAir，本人并不清楚他定义在哪个文件，也没有去看，如果使用Visual Studio搜索整个项目，搜索时间过长，而且电脑负担也大，所以也没有进行搜索，后面有时间会去了解的。</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable --><!-- /main area -->
      </div>
      <!-- /content panel -->
    </div>

    <!-- build:js({.tmp,app}) scripts/app.min.js --> 
<script src="../../../vendor/jquery/dist/jquery.js" src='<% = ResolveUrl("../vendor/jquery/dist/jquery.js") %>'></script> 
<script src="../../../vendor/bootstrap/dist/js/bootstrap.js" src='<% = ResolveUrl("../vendor/bootstrap/dist/js/bootstrap.js") %>'></script> 
<script src="../../../scripts/constants.js" src='<% = ResolveUrl("../scripts/constants.js") %>'></script> 
<script src="../../../scripts/main.js" src='<% = ResolveUrl("../scripts/main.js") %>'></script> 
<script src="../../../vendor/highlight/highlight.pack.js" src='<% = ResolveUrl("../vendor/highlight/highlight.pack.js") %>'></script>
<script language="javascript" type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!-- endbuild -->
  </body>
<!-- InstanceEnd --></html>
