@charset "utf-8";

.Class{
	color: gold;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Struct{
	color: gold;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Interfaces{
	color:gold;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Namespace{
	color:gold;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Typedef{
	color:gold;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Variables{
	color:darkkhaki;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Enum{
	color:#BD63C5;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.PreprocessorMacros{
	color:#BD63C5;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Function{
	color:#FF8000;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.KeyWord{
	color:#569CD6;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Notes{
	color:#57A64A;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.TETXText{
	color:#f92672;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.StringText{
	color:#d69d85;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.preclass{
	color: white;
	font-size: 17px;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.Preprocess{
	color:#B4B4B4;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.YellowFont{
	color:yellow;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.FontH{
	font-size: 17px;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.FontHRad{
	font-size: 17px;
	color: red;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.WhiteP{
	color: white
}

.GoldP{
	color:gold
}
