@charset "utf-8";

.Class{color: gold}

.Struct{color: gold}

.Interfaces{color:gold}

.Namespace{color:gold}

.Typedef{color:gold}

.Variables{color:darkkhaki}

.Enum{color:#BD63C5}

.PreprocessorMacros{color:#BD63C5}

.Function{color:#FF8000}

.KeyWord{color:blue}

.TETXText{color:#f92672}

.StringText{color:#d69d85}

.preclass{
	color: white;
	font-size: 17px
}

.FontH{
	font-size: 20px;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}

.FontHRad{
	font-size: 20px;
	color: red;
	width: 100%;
	height: auto;
	word-wrap:break-word;
	word-break:break-all;
	overflow: hidden;
}
